aside {
    float: left;

    border: 1px solid black;

    width: 20%;

    padding: 4px;

    height: 400px;

    background-color: sandybrown;

    margin-left: 10px;
}/**Allows me to create side bar for nav bar**/



h2 {
    text-align: center;
}

body {
    background-color: antiquewhite;
} /** changes page to single color**/

#nav_list ul {
    list-style-type: none;

    margin-left: 1px;

    margin-bottom: 1.5em;
}

#nav_list ul li {
    width: 150px;

    margin: 3px;

    border: 2px solid black;
}

#nav_list ul li a {

    text-align: center;

    display:block;
    
    text-decoration: none;
    
    font-weight: bold;
    
    color: black;
} /**Layout for nav tabs**/

footer {
    margin-top: 200px;
}

main {
    margin-left: 300px;
}

a:hover {
    background-color: orangered;

    color: black;
}

table, th, td {
    border: 1px solid black;

}

.feature-card {
    border: 2px solid black;

    padding: 20px;

    margin: 20px;

    background-color: bisque;
}

.feature-card h3 {
    font-size: 20px;

    margin-bottom: 10px;

    color: brown;
}

.feature-card p {
    margin-bottom: 10px;

    color: black;
}

#special-feature {
    background-color: #fde3a7;

    border-color: #f39c12;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
